h1 {
    background-image: url('images/pattern.jpeg');
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    font-family: Helvetica;
}
.brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold; 
    color: white;
    background-color: mediumspringgreen;
}
strong {
    font-family: Helvetica;
    color: blue;
    font-weight: bold;
}
.frame {
    background-color: lightcoral;
    color: white
}
.paint {
    background-color: skyblue;
    color: white;
}
h1, h2, h3, p {
    font-family: Helvetica;
  }
  